.cart {
  margin: 2rem;
}
.cart-list {
  display: grid;
  gap: 8px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.item-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.item-delete {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--accent);
}
